<p>notebook works!</p>
<div class="container-fluid">
    <!--  row 1 -->
     <form [formGroup]="csdForm">
     <div class="row">
         <div class="col-lg-4">
             <div class="input-group">
                 <label for="country">Select Country</label>
                 <Select class="form-control" formControlName ='inState'>
                     <div *ngFor="let state of states">
                         <option value="{{state}}">{{state}}</option>
                     </div>
                 </Select>
             </div>
         </div>
         <div class="col-lg-4">
 
         </div>
         <div class="col-lg-4">
 
         </div>
     </div>
 </form>
 </div>