<div class="jumbotron p-3">
    <h2>Hello World! Its a Todo App! </h2>
    <p class="lead">App developed by Palash tiwari headed by code with herry.</p>
    <hr class="my-4">
    <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias itaque debitis ipsum, incidunt nesciunt est quis delectus rem error repellat deserunt id voluptatibus hic porro sequi adipisci laudantium ipsam possimus voluptate inventore! Voluptatem reiciendis, quasi 
        dignissimos qui dolorem distinctio sequi in ullam ea autem repudiandae explicabo eligendi unde incidunt vitae. </p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a>
        </p>
</div>